<!DOCTYPE html>
{% extends 'first_app/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block title_block %}
    <title>Home</title>
    {% endblock %}
</head>
<body>
    {%block body_block %}
    <h1>Welcome To Sifat's Blog</h1>
    {% autoescape off %}
    {% for data in all_data %}
    <div class="jumbotron">
       
        <h3 class="display-3" style="font-size: 24px;color:blue"><b>{{data.Title|title}}</b></h3>
        <h4 class="display-4" style="font-size:16px;color:cornflowerblue">Catagory:{{data.Catagory}}</h4><br>
        <p class="card-text">{{ data.Body|slice:":100" }}....
            <a href="{% url 'first_app:details'%}?id={{data.PostId}}">See More</a>
        </p>
    </div>
    {% endfor %}
    {% endautoescape %}
    {% endblock %}
</body>
</html>